@font-face {
	font-family: notoserif;
	src: url("notoserif.ttf");
}


html, body {
	margin: 0;
	padding: 0;
	min-height: 100vh;

	background-color: black;
	color: #ebebeb;

	font-size: 19px;
	font-family: notoserif;
	line-height: 1.4;
}


#banner {
	position: relative;
	z-index: 1;
	background: linear-gradient(180deg, #303030EE 0%, #303030EE 90%, transparent 100%);

	margin: 0 auto;
	padding: 1em;
	min-height: 110vh;
	max-width: 600px;

	box-sizing: border-box;
}


#bouncing-dvd-container {
	container-type: inline-size;
	height: 200px;
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 2px solid #666666;
}
#bouncing-dvd {
	font-size: calc(100cqw / 16);
	font-weight: bold;
	position: absolute;
	white-space: nowrap;
	line-height: 0px;
	padding-top: 2.5%;
	padding-bottom: 3%;
}

#end {
	position: relative;
	text-align: right;
	margin-right: 8px;
}

@media only screen {
	.star {
		display: block !important;
	}
}

.star {
	display: none;

	--star-glow: 0.0;

	position: absolute;
	height: 20px;
	width: 20px;
	padding: 0px;
	cursor: pointer;
	border-radius: 50%;

	border: none;
	pointer-events: none;

	animation: star-glow 2s 1;
}

.star-yellow-big {
	background: rgb(250, 255, 0, calc(0.27 * var(--star-glow)));
	box-shadow: 0px 0px 35px 5px rgb(250, 255, 0, var(--star-glow));
}

.star-yellow-small {
	background: rgb(250, 255, 0, calc(0.27 * var(--star-glow)));
	box-shadow: 0px 0px 20px 0px rgb(250, 255, 0, var(--star-glow));
}

.star-cyan {
	background: rgb(0, 243, 255, calc(0.27 * var(--star-glow)));
	box-shadow: 0px 0px 35px 5px rgb(0, 243, 255, var(--star-glow));
}

.star-glow {
	pointer-events: auto;

	animation: star-glow 2s infinite;
}

@property --star-glow {
	syntax: "<number>";
	inherits: false;
	initial-value: 0;
}

@keyframes star-glow {
	0% { --star-glow: 0; }
	50% { --star-glow: 1; }
	100% { --star-glow: 0; }
}


li {
	margin: 0.4em 0px;
}


a:link, a:visited { text-decoration: none; }
a:hover { filter: brightness(150%); cursor: pointer; }
a:active { filter: brightness(75%); }

a[href^="/"]:link, a[href^="/"]:visited { color: #2f1cff; text-decoration: underline; }
a[href$="wolframite.cc"]:link, a[href$="wolframite.cc"]:visited { color: #ffa500; }
a[href*="github.com"]:link, a[href*="github.com"]:visited { color: #111111; font-weight: bold; }
a[href*="discord.com"]:link, a[href*="discord.com"]:visited { color: #7289da; }
a[href^="mailto"]:link, a[href^="mailto"]:visited { color: #d14836; }


footer {
	margin-top: 35px;
}
